#titulo
{
    display: flex;
    justify-content: center;
    margin: 100px 0px 100px 0px;
    font-family: 'Julee', cursive;
    font-size: 6em;
    
}

.box
{ 
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 99;
}

.subtitulos
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

#video
{
    margin-bottom: 100px;
}

.items 
{
   margin-top: 30px;
   margin-bottom: 30px;
}
.subitems
{
    margin-top: 10px;
    margin-bottom: 10px;
}

#summit
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#particles-js 
{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}
@media screen and (max-width: 800px){
    .box {
        width: 100%;
    }
    #titulo {
        width: 100%;
    }
    .items {
        width: 100%
    }
}

@media screen and (max-width: 200px){
    .box {
        width: 100%;
    }
    #titulo {
        width: 100%;
    }
    .items {
        width: 100%
    }
}